<!-- eventDetails.ejs -->


<h2>Event Details</h2>

<!-- Display detailed information about the event -->
<div>
    <strong>Event Name:</strong> <%= events.event_Name %><br>
    <strong>Date:</strong> <%= events.date %><br>
    <strong>Time:</strong> <%= events.time %><br>
    <strong>Location:</strong> <%= events.location %><br>
    <strong>Description:</strong> <%= events.description %><br>
    <!-- Add more event details as needed -->
</div>

<!-- Add a button or link to go back to the events list -->
<a href="/routes/events.js">Back to Events</a>



