<!-- eventDetails.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventHub</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- createEvent.ejs -->
    
    <!-- Include header and footer as needed -->
    <%- include('partials/header') %>

<h1>All Event Details</h1>

<!-- Display detailed information about the event -->
<main>
    <div class="events-container">
        <% for(let i = 0; i < events.length && i < 6; i++) { 
            let event = events[i]; %>
            <div class="event-card">
                
                <% if(event.image) { %>
                    <img src="<%= event.image %>" alt="<%= event.eventName %>">
                <% } else { %>
                    <img src="\images\default-event.png" alt="Default Image">
                <% } %>
                <div class="event-info">
                    <h3><%= event.eventName %></h3>
                    <p>Date: <%= event.date %></p>
                    <p>Time: <%= event.time %></p>
                    <p>Location: <%= event.location %></p>
                </div>
            </div>
        <% } %>
    </div>
</main>

<!-- Include footer as needed -->
<%- include('partials/footer') %>
</body>
</html>

