<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventHub</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- createEvent.ejs -->
    
<!-- Include header and footer as needed -->
<%- include('partials/header') %>
    
    <!-- Display a list of events -->
    <main>
        <ul>
            <% events.forEach(event => { %>
                <li class="card">
                    <h2><%= event.event_name %></h2>
                    <p>Date: <%= event.date %></p>
                    <p>Time: <%= event.time %></p>
                    <p>Location: <%= event.location %></p>
                    <!-- Add more event details as needed -->
                </li>
            <% }); %>
        </ul>
    </main>

  <!-- Include footer as needed -->
<%- include('partials/footer') %>
</body>
</html>